@font-face {
  font-family: "Circular-book";
  src: url("/fonts/lineto-circular-pro-book.ttf") format("woff2");
}
@font-face {
  font-family: "Circular-black";
  src: url("/fonts/lineto-circular-black.ttf") format("woff2");
}
@font-face {
  font-family: "Circular-bold";
  src: url("/fonts/lineto-circular-pro-bold.ttf") format("woff2");
}
* {
  transition: 0.25s ease;
}
body {
  font-family: "Circular-book";
}
.container {
  width: 450px;
}
h1 {
  font-family: "Circular-black";
  font-size: 15px;
  font-weight: 800;
}
h4 {
  font-size: 18px;
  font-weight: 700;
}
.login-buttons {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 48px;
  width: 450px;
  white-space: normal;
  letter-spacing: 2px;
  font-family: "Circular-book";
  border-radius: 50px;
  font-size: 14px;
  margin-top: 9px;
  padding: 14px 14px 18px;
  text-transform: uppercase;
}
#fb {
  background-color: #3b5998;
  border: 2px solid #3b5998;
}
#fb:hover {
  background-color: #3a61b3;
  border-color: #3a61b3;
}
#apl {
  background-color: black;
  border: 2px solid black;
}
#apl:hover {
  background-color: #333;
  border: 2px solid #333;
}
#ggl {
  background-color: transparent;
  border: 2px solid #616467;
  color: #616467;
}
i {
  width: 18px;
  height: 16px;
}
#ggl:hover {
  color: white;
  background-color: #616467;
}
.dividers {
  border-top: 1px solid #d9dadc;
  width: 100%;
  box-sizing: border-box;

  margin: 20px 0;
  position: relative;
}

.dividers strong {
  position: absolute;
  top: -12px;
  left: 170px;
  font-family: "Circular-bold";
  font-size: 12px;

  z-index: 2;
  background-color: white;
  padding: 0 15px;
}
form > div {
  width: 100%;
  margin: 0;
}
form label {
  font-family: "Circular-bold";
  font-size: 16px;
}

form a:hover {
  color: #15883e;
}

.box .btn {
  width: 100%;
  border-radius: 50px;
  text-transform: uppercase;
  color: white;
  background-color: #15883e;
  height: 47px;
}
.btn-success:hover {
  background-color: #1db954;
}
form a {
  color: #616467;
}

.form-control {
  border-radius: 0px;
}
form a {
  color: #616467;
}
#captcha {
  position: fixed;
  bottom: 5vh;
  right: -186px;
  box-shadow: 0px 0px 5px 2px lightgray;
  transition: 0.3s ease;
}

#captchaImage {
  width: 74px;
  height: 70px;
  font-size: 8px;
  color: #555;
  background-color: white;
}

#captchaImage a,
#captchaImage span {
  color: #555;
}

#captchaText {
  background-color: #4a90e2;
  color: white;
  white-space: nowrap;
  width: 166px;
}

#captchaText {
  background-color: #4a90e2;
  color: white;
  font-size: 13px;
  line-height: 20px;
  white-space: nowrap;
  width: 186px;
  margin: 0;
  padding: 0 16px;
}

#captchaText a {
  color: white;
  font-size: 10px;
}

#captcha:hover {
  position: fixed;
  bottom: 5vh;
  right: 1vw;
  box-shadow: 0px 0px 5px 2px lightgray;
}

#captcha:hover #captchaImage a,
#captcha:hover #captchaImage span {
  display: none;
}

#captcha:hover img {
  height: 50px;
  width: 50px;
}

#captcha:hover #captchaImage {
  justify-content: center;
  align-items: center;
}

/* HOMEPAGE */

body#homePage {
  background: rgb(14, 12, 46);
  background: linear-gradient(
    340deg,
    rgba(14, 12, 46, 1) 0%,
    rgba(32, 30, 107, 1) 34%,
    rgba(60, 60, 148, 1) 69%,
    rgba(116, 113, 199, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}

#mainNav .list-group-item {
  text-align: center;
  padding: 0px;
  margin-right: 2rem;
  width: auto;
  border: none;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.4);
  background-color: transparent;
}

#mainNav .list-group-item.active {
  color: white;
}

#mainNav a.list-group-item.active::after {
  position: absolute;
  content: "";
  width: 30%;
  height: 2px;
  bottom: -5px;
  left: 35%;
  background-color: lightgreen;
  z-index: 5;
}

#mainNav .list-group-item:hover {
  color: white;
}

#nav-tabContent > div > .container-fluid {
  padding-left: 20vw;
}

#nav-tabContent h2 {
  font-style: "Circular-black";
  font-weight: 800;
  color: white;
  font-size: 35px;
}

#nav-tabContent h3 {
  font-style: "Circular-black";
  font-weight: 800;
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
}

#homePage .card {
  background-color: transparent;
  border: none;
  width: 200px;
  position: relative;
}

#homePage .card img {
  border-radius: 0;
  box-shadow: 0px 0px 15px 1px black;
}

#homePage .card .imgIcon i {
  position: absolute;
  display: none;
  color: white;
  width: 20px;
  height: 20px;
  font-size: 18px;
  top: 4%;
  left: 4%;
  z-index: 5;
}

#homePage .card-text {
  display: flex;
  justify-content: center;
  font-family: "Circular-black";
  font-size: 15px;
  color: white;
}

@media (max-width: 605px) {
  .list-group {
    justify-content: center;
  }

  #mainNav .list-group-item {
    margin-right: 1rem;
    font-size: 8px;
  }

  #mainNav .list-group-item:last-of-type {
    margin-right: 0;
  }

  #nav-tabContent h2 {
    max-width: 250px;
    overflow-wrap: break-word;
  }
}
